In [1]:
import numpy as np

In [3]:
empty_list=[]
empty_tuple=()
empty_set={}
empty_dict={}

In [4]:
type(empty_list)

list

In [5]:
type(empty_tuple)

tuple

Empty set we cannot create like this

In [6]:
type(empty_set)

dict

In [2]:
excel_mock={
    "vineet":4,
    "rishi":4.5,
    "rushikesh":6.5,
    "saurav":6.85,
    "kalyani":7.5,
    "kshitija":3.45,
    "priyanka":3,
    "deepak":7.5,
    1:456,
    1.45:'Float key ',
    (1,2):'Tuple vale',
    "DA Batch 2":['vineet','rishi','aditya']
}

In [3]:
excel_mock

{'vineet': 4,
 'rishi': 4.5,
 'rushikesh': 6.5,
 'saurav': 6.85,
 'kalyani': 7.5,
 'kshitija': 3.45,
 'priyanka': 3,
 'deepak': 7.5,
 1: 456,
 1.45: 'Float key ',
 (1, 2): 'Tuple vale',
 'DA Batch 2': ['vineet', 'rishi', 'aditya']}

In [4]:
excel_mock['DA Batch 2'][2]

'aditya'

In [5]:
excel_mock.get('DA Batch 2')

['vineet', 'rishi', 'aditya']

In [6]:
excel_mock[1]=6088

In [7]:
excel_mock

{'vineet': 4,
 'rishi': 4.5,
 'rushikesh': 6.5,
 'saurav': 6.85,
 'kalyani': 7.5,
 'kshitija': 3.45,
 'priyanka': 3,
 'deepak': 7.5,
 1: 6088,
 1.45: 'Float key ',
 (1, 2): 'Tuple vale',
 'DA Batch 2': ['vineet', 'rishi', 'aditya']}

In [8]:
excel_mock.update({'country':'india'})

In [9]:
excel_mock.pop(1)

6088

In [10]:
excel_mock.popitem()

('country', 'india')

In [11]:
even_dict={i:i**2 for i in range(10)}

In [12]:
even_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

py -m pip list  -  it will give you all python Library name

py -m pip install library_name  -  for importing particular library

In [15]:
import array as ar

In [16]:
dir(ar)

['ArrayType',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_array_reconstructor',
 'array',
 'typecodes']

In [17]:
from array import array

In [18]:
dir(array)

['__add__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'buffer_info',
 'byteswap',
 'count',
 'extend',
 'frombytes',
 'fromfile',
 'fromlist',
 'fromunicode',
 'index',
 'insert',
 'itemsize',
 'pop',
 'remove',
 'reverse',
 'tobytes',
 'tofile',
 'tolist',
 'tounicode',
 'typecode']

In [25]:
import array as ar

In [23]:
arr1=array.array('f',[1,2,3.14])

In [24]:
arr1

array('f', [1.0, 2.0, 3.140000104904175])

In [33]:
arr2=ar.array('i',(5,2,1,3))

In [34]:
arr2

array('i', [5, 2, 1, 3])

In [35]:
even_list=[i for i in range(0,21,2)]

In [36]:
even_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [38]:
arr=ar.array('i',even_list)

In [39]:
arr

array('i', [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20])

In [40]:
arr[5]

10

In [41]:
arr[5:]

array('i', [10, 12, 14, 16, 18, 20])

In [42]:
even_arr=ar.array('i',[i for i in range(0,21,2)])
odd_arr=ar.array('i',[i for i in range(1,20,2)])

In [44]:
even_arr

array('i', [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20])

In [45]:
odd_arr

array('i', [1, 3, 5, 7, 9, 11, 13, 15, 17, 19])

Functions

In [46]:
def welcome():
    print("Hola Clues")
    print("Visca Barca")

In [48]:
welcome()

Hola Clues
Visca Barca

In [51]:
def welcome_student(name):
    print(f'welcome to Data Analyst {name}')
    print('All the best')

In [54]:
welcome_student('Rintu')

welcome to Data Analyst Rintu
All the best

In [69]:
def age(a):
    if a>=18:
        return 'Yes'
    return 'No'

In [64]:
age(23)

'Yes'

In [70]:
age(int(input()))

'No'

In [66]:
age(17.88)

'No'

As a programmer, you will spend most of your time writing and using functions. Python offers many features to make your functions powerful and flexible. Let's explore some of these by solving a problem:

Radha is planning to buy a house that costs $1,260,000. She considering two options to finance her purchase:

Option 1: Make an immediate down payment of $300,000, and take loan 8-year loan with an interest rate of 10% (compounded monthly) for the remaining amount. Option 2: Take a 10-year loan with an interest rate of 8% (compounded monthly) for the entire amount. Both these loans have to be paid back in equal monthly installments (EMIs). Which loan has a lower EMI among the two?

Since we need to compare the EMIs for two loan options, defining a function to calculate the EMI for a loan would be a great idea. The inputs to the function would be cost of the house, the down payment, duration of the loan, rate of interest etc. We'll build this function step by step.

First, let's write a simple function that calculates the EMI on the entire cost of the house, assuming that the loan must be paid back in one year, and there is no interest or down payment.

In [87]:
def loan_amount_sec(cost,time,rate):
    total_payable= cost*(1+(rate/12))**(time*12)
    emi=total_payable/(time*12)
    return round(emi,2)

In [88]:
loan_amount_sec(1260000,10,0.08)

23306.22

In [89]:
def loan_amount_first(cost,time,rate,downpayment):
    total_payable= (cost-downpayment)*(1+(rate/12))**(time*12)
    emi=total_payable/(time*12)
    return round(emi,2)

In [91]:
loan_amount_first(1260000,8,0.10,300000)

22181.76

Types of Argument 
    1. positional
    2. keyword
    3. default

Positional Argument

In [92]:
def add(no1,no2):
    print(f'No1 Value : ',no1)
    print(f'No2 Value : ',no2)
    print(f'Result : ',no1+no2)

In [93]:
add(5,6)

No1 Value :  5
No2 Value :  6
Result :  11

Keyword Argument

In [94]:
add(no2=5,no1=6)

No1 Value :  6
No2 Value :  5
Result :  11

In [99]:
print(f' First Option EMI : {loan_amount_first(1260000,8,0.10,300000)}')
print(f' Second Option EMI : {loan_amount_sec(1260000,10,0.08)}')

 First Option EMI : 22181.76
 Second Option EMI : 23306.22