## PANDAS

Dataframe is collection of series

NaN - Not a number

In [2]:
! pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\shouv\appdata\roaming\python\python311\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\shouv\appdata\roaming\python\python311\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shouv\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\shouv\appdata\roaming\python\python311\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\shouv\appdata\roaming\python\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\shouv\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd

In [5]:
pd.__version__

'2.1.1'

## Creation of Pandas Series(Column)

In [9]:
pd.Series(('Shouvik','Rintu','Babu'),index=['S','R','B'],name='Column_1')

S    Shouvik
R      Rintu
B       Babu
Name: Column_1, dtype: object

## Data Frame

Creating Pandas dataframe a pandas data frame can be created using Series,dictionary,list,tuple and numpy array. <br>
To create Pandas Dataframe use pd.DataFrame()

In [11]:
pd.DataFrame([[i for i in range(1,20,2)],[i for i in range(0,21,2)]])

   0   1   2   3   4   5   6   7   8   9     10
0   1   3   5   7   9  11  13  15  17  19   NaN
1   0   2   4   6   8  10  12  14  16  18  20.0