In [3]:
myList = [1, 2, 3, 'EduCBA', 'makes learning fun!']

APPEND

In [4]:
myList.append(4)
myList.append('De')
myList.append(2)

EXTEND

In [9]:
myList.extend('JGEc')

In [10]:
myList

[1, 2, 3, 'EduCBA', 'makes learning fun!', 4, 'De', 2, 'J', 'G', 'E', 'c']

INSERT()

In [11]:
myList.insert(0,6088)

In [12]:
myList

[6088,
 1,
 2,
 3,
 'EduCBA',
 'makes learning fun!',
 4,
 'De',
 2,
 'J',
 'G',
 'E',
 'c']

REMOVE(Value) -  remove first occurence of that value

In [15]:
myList.remove(2)

In [16]:
myList

[6088, 1, 3, 'EduCBA', 'makes learning fun!', 4, 'De', 2, 'J', 'G', 'E', 'c']

POP() -  remove last element

In [24]:
myList.pop()
myList

[6088, 1, 3, 'EduCBA', 'makes learning fun!', 4]

In [26]:
lst=[5,4,3,1,2,6,4,8,6,9,4,5]
lst

[5, 4, 3, 1, 2, 6, 4, 8, 6, 9, 4, 5]

pop(index) - remove index element from the list

In [27]:
lst.pop(5)
lst

[5, 4, 3, 1, 2, 4, 8, 6, 9, 4, 5]

Sliceing

In [28]:
lst[:4]

[5, 4, 3, 1]

reverse() - reverse the list

In [36]:
lst1 =[2,5,4,'Shouvik',6,'De']

In [37]:
lst1

[2, 5, 4, 'Shouvik', 6, 'De']

In [40]:
lst1.reverse()

In [41]:
print(lst1)

['De', 6, 'Shouvik', 4, 5, 2]

len() - return length of the list

In [42]:
len(lst1)

6

MIN() & MAX()

In [45]:
lst2=[4,5,6,2,1,6,7,8,1]

In [46]:
min(lst2)

1

In [47]:
max(lst2)

8

count(value) -  return the frequency of the value in that list

In [48]:
lst2.count(1)

2

index(value) -  index of that value

In [50]:
lst2.index(1)

4

sort() -  by default its in asscending order

In [51]:
lst2.sort()

In [52]:
lst2

[1, 1, 2, 4, 5, 6, 6, 7, 8]

sort(reverse=True) -  sort list in reverse order

In [53]:
lst2.sort(reverse=True)
lst2

[8, 7, 6, 6, 5, 4, 2, 1, 1]

In [54]:
lst2.clear()
lst2

[]

Copy

In [55]:
lstt=[2,4,6,8,10]

In [56]:
even_lst=lstt.copy()

In [57]:
even_lst

[2, 4, 6, 8, 10]

In [58]:
sum(lstt)

30