In [1]:
excel_mock={
    "vineet":4,
    "rishi":4.5,
    "rushikesh":6.5,
    "saurav":6.85,
    "kalyani":7.5,
    "kshitija":3.45,
    "priyanka":3,
    "deepak":7.5,
    1:456,
    True:'True Values',
    1.45:'Float key ',
    (1,2):'Tuple vale'
}

In [2]:
excel_mock

{'vineet': 4,
 'rishi': 4.5,
 'rushikesh': 6.5,
 'saurav': 6.85,
 'kalyani': 7.5,
 'kshitija': 3.45,
 'priyanka': 3,
 'deepak': 7.5,
 1: 'True Values',
 1.45: 'Float key ',
 (1, 2): 'Tuple vale'}

In [4]:
for i in excel_mock.keys():
    print(i)

vineet
rishi
rushikesh
saurav
kalyani
kshitija
priyanka
deepak
1
1.45
(1, 2)

In [5]:
for i in excel_mock.values():
    print(i)

4
4.5
6.5
6.85
7.5
3.45
3
7.5
True Values
Float key
Tuple vale

In [6]:
for i in excel_mock.items():
    print(i)

('vineet', 4)
('rishi', 4.5)
('rushikesh', 6.5)
('saurav', 6.85)
('kalyani', 7.5)
('kshitija', 3.45)
('priyanka', 3)
('deepak', 7.5)
(1, 'True Values')
(1.45, 'Float key ')
((1, 2), 'Tuple vale')

In [8]:
for key,value in excel_mock.items():
    print(key,"=>",value)

vineet => 4
rishi => 4.5
rushikesh => 6.5
saurav => 6.85
kalyani => 7.5
kshitija => 3.45
priyanka => 3
deepak => 7.5
1 => True Values
1.45 => Float key
(1, 2) => Tuple vale

In [1]:
dict1={
    88:'Shouvik',
    85:'Preety',
    32:'Rintu',
    37:'Abhishek'
}

In [3]:
dict1[88]

'Shouvik'

only key retrieve

In [4]:
for i in dict1.keys():
    print(i)

88
85
32
37

only value retrieve

In [5]:
for name in dict1.values():
    print(name)

Shouvik
Preety
Rintu
Abhishek

key, value pair retrieve using itmes

In [6]:
for k,v in dict1.items():
    print("key value : ",k," value present : ",v)

key value :  88  value present :  Shouvik
key value :  85  value present :  Preety
key value :  32  value present :  Rintu
key value :  37  value present :  Abhishek