In [1]:
set={5,2,5,1,7,6,9,11,4,11,7,5,2,1}

In [2]:
set

{1, 2, 4, 5, 6, 7, 9, 11}

In [1]:
lst=[1,1,1]+[i for i in range(5)]
tup=tuple(lst)
st=set(tup)

In [3]:
print(lst,'lst')
print(tup,'tup')
print(st,'set')

[1, 1, 1, 0, 1, 2, 3, 4] lst
(1, 1, 1, 0, 1, 2, 3, 4) tup
{0, 1, 2, 3, 4} set

In [4]:
st1 = {5,7,8,1,3,7,6,4,5,7,2}

In [5]:
st1

{1, 2, 3, 4, 5, 6, 7, 8}

In [7]:
for i in st1:
    print(i,end=' ')

1 2 3 4 5 6 7 8

In [9]:
lst1=[i for i in range(0,11,2)]
lst1

[0, 2, 4, 6, 8]

In [10]:
lst2=[i for i in range(0,21,2)]
lst2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [11]:
lst3=lst1+lst2

In [12]:
lst3

[0, 2, 4, 6, 8, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [13]:
st1=set(lst3)
st1

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [14]:
st1=set([i for i in range(0,11,2)] + [i for i in range(0,21,2)])
st1

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [1]:
set1={5,1,2,6,4,5,8,7,5,4,5,1,2,6,4,3}
set1

{1, 2, 3, 4, 5, 6, 7, 8}

In [2]:
set1.add(9)

In [3]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [4]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'kiwi', 'apple', 'banana', 'orange'}

In [5]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
set1.remove(6)
set1

{1, 2, 3, 4, 7, 8, 9}

In [9]:
set1.discard(8)
set1

{1, 2, 3, 4, 7, 9}

In [10]:
set1.discard(20)
set1

{1, 2, 3, 4, 7, 9}

Difference b/w remove and discard is -              
.remove(value) has to be in set                    
.discard(value) - is not compulsary to have in Set

In [17]:
setA={'a','b','c'}
setB={1,2,3}

Operations on SET

In [18]:
setC=setA.union(setB)

In [19]:
print(setC)

{1, 2, 3, 'a', 'b', 'c'}

In [20]:
setD=setA | setB 
print(setD)

{1, 2, 3, 'a', 'b', 'c'}

In [21]:
setA.update(setB)
print(setA)

{1, 2, 3, 'a', 'b', 'c'}

intersection_update : for printing duplicate only

In [22]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

symmetric_difference_update() :                                                                 method will keep only the elements that are NOT present in both sets.

means excluding intersection.  that is  Union - intersection

In [23]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'banana', 'google', 'microsoft'}