Creating tuple in three different step

1. using moon bracket
2. using comma's
3. using list comprehension

In [1]:
new_tuple= (1,2,5,6,7,8)

In [ ]:
even_tup=tuple(i for i in range(0,21,2))

In [4]:
sec_tuple=5,8,11,3,4,7

In [2]:
new_tuple

(1, 2, 5, 6, 7, 8)

In [3]:
type(new_tuple)

tuple

In [5]:
type(sec_tuple)

tuple

In [10]:
no1_tup,no2_tup=[1,2]

In [11]:
no1_tup

1

In [12]:
type(no1_tup)

int

In [13]:
even=[i for i in range(0,21,2)]

In [14]:
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [18]:
even_tup=tuple(i for i in range(0,21,2))

In [19]:
even_tup

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [20]:
type(even_tup)

tuple

In [22]:
even_tup[5:7]

(10, 12)

In [25]:
even_tup[7]

14

In [3]:
eve=tuple([i for i in range(5)])
eve2=tuple([i for i in range(0,10)])

In [4]:
eve

(0, 1, 2, 3, 4)

In [6]:
eve2

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [7]:
eve3=eve+eve2

In [8]:
eve3

(0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [20]:
eve3.index(2)

2

In [19]:
eve3.count(1)

2

In [11]:
len(eve3)

15

In [12]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [13]:
tup=(5,7,8,9,7,11)
y=list(tup)
y.append(15)
tup=tuple(y)
print(tup)

(5, 7, 8, 9, 7, 11, 15)

In [9]:
dir(eve3)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [16]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [14]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [17]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

Multiply Tuples
If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [18]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [2]:
set_num=set((1,20,13,4,15,6,1,15,20))

In [3]:
set_num

{1, 4, 6, 13, 15, 20}

In [4]:
set_num.add(45)
set_num

{1, 4, 6, 13, 15, 20, 45}

In [7]:
set_num.pop()
set_num

{6, 13, 20, 45}

In [6]:
set_num.remove(15)
set_num

{4, 6, 13, 20, 45}

remove vs discard

In [8]:
set_num.discard(25)

In [9]:
dir(set_num)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']