In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.DataFrame({'number':(i for i in range(0,10)),'square':(i**2 for i in range(0,10)),'cube':(i**3 for i in range(0,10))})
df

   number  square  cube
0       0       0     0
1       1       1     1
2       2       4     8
3       3       9    27
4       4      16    64
5       5      25   125
6       6      36   216
7       7      49   343
8       8      64   512
9       9      81   729

In [4]:
df

   number  square  cube
0       0       0     0
1       1       1     1
2       2       4     8
3       3       9    27
4       4      16    64
5       5      25   125
6       6      36   216
7       7      49   343
8       8      64   512
9       9      81   729

In [5]:
ans=df.tail() 
ans

   number  square  cube
5       5      25   125
6       6      36   216
7       7      49   343
8       8      64   512
9       9      81   729

In [6]:
ans[['number','cube']]

   number  cube
5       5   125
6       6   216
7       7   343
8       8   512
9       9   729

In [7]:
df

   number  square  cube
0       0       0     0
1       1       1     1
2       2       4     8
3       3       9    27
4       4      16    64
5       5      25   125
6       6      36   216
7       7      49   343
8       8      64   512
9       9      81   729

In [8]:
df[df['square']%2==0]

   number  square  cube
0       0       0     0
2       2       4     8
4       4      16    64
6       6      36   216
8       8      64   512

In [9]:
df

   number  square  cube
0       0       0     0
1       1       1     1
2       2       4     8
3       3       9    27
4       4      16    64
5       5      25   125
6       6      36   216
7       7      49   343
8       8      64   512
9       9      81   729

In [10]:
df['total']=df.number+df.square+df.cube 
df

   number  square  cube  total
0       0       0     0      0
1       1       1     1      3
2       2       4     8     14
3       3       9    27     39
4       4      16    64     84
5       5      25   125    155
6       6      36   216    258
7       7      49   343    399
8       8      64   512    584
9       9      81   729    819

In [11]:
df.loc[10]=[10,100,1000,1110] 
df

    number  square  cube  total
0        0       0     0      0
1        1       1     1      3
2        2       4     8     14
3        3       9    27     39
4        4      16    64     84
5        5      25   125    155
6        6      36   216    258
7        7      49   343    399
8        8      64   512    584
9        9      81   729    819
10      10     100  1000   1110

In [12]:
df

    number  square  cube  total
0        0       0     0      0
1        1       1     1      3
2        2       4     8     14
3        3       9    27     39
4        4      16    64     84
5        5      25   125    155
6        6      36   216    258
7        7      49   343    399
8        8      64   512    584
9        9      81   729    819
10      10     100  1000   1110

In [18]:
dff=pd.read_csv(r"C:\Users\shouv\OneDrive\Desktop\Python Accio\Power BI Mock\Population.csv",nrows=5) 
dff

,MonthYr,Population,MonthYr.1,Employed,Unemployed,LabourForce,Party,PrimeMinister
0,Jan-76,16852.4,Jan-76,9636.7,733.0,10369.7,Liberal,Pierre Trudeau
1,Feb-76,16892.0,Feb-76,9659.8,730.0,10389.8,Liberal,Pierre Trudeau
2,Mar-76,16930.7,Mar-76,9704.2,691.5,10395.7,Liberal,Pierre Trudeau
3,Apr-76,16969.4,Apr-76,9738.2,713.1,10451.3,Liberal,Pierre Trudeau
4,May-76,17008.1,May-76,9726.1,720.0,10446.1,Liberal,Pierre Trudeau

In [17]:
df1=pd.read_csv(r"C:\Users\shouv\OneDrive\Desktop\Python Accio\Power BI Mock\Population.csv",usecols=[0,1,2]) 
df1

    MonthYr  Population MonthYr.1
0    Jan-76     16852.4    Jan-76
1    Feb-76     16892.0    Feb-76
2    Mar-76     16930.7    Mar-76
3    Apr-76     16969.4    Apr-76
4    May-76     17008.1    May-76
..      ...         ...       ...
536  Sep-20     31114.6    Sep-20
537  Oct-20     31138.8    Oct-20
538  Nov-20     31161.3    Nov-20
539  Dec-20     31177.5    Dec-20
540     NaN         NaN       NaN

[541 rows x 3 columns]

In [19]:
dfm=pd.read_csv(r"C:\Users\shouv\OneDrive\Desktop\Python Accio\Power BI Mock\Population.csv") 
dfm

,MonthYr,Population,MonthYr.1,Employed,Unemployed,LabourForce,Party,PrimeMinister
0,Jan-76,16852.4,Jan-76,9636.7,733.0,10369.7,Liberal,Pierre Trudeau
1,Feb-76,16892.0,Feb-76,9659.8,730.0,10389.8,Liberal,Pierre Trudeau
2,Mar-76,16930.7,Mar-76,9704.2,691.5,10395.7,Liberal,Pierre Trudeau
3,Apr-76,16969.4,Apr-76,9738.2,713.1,10451.3,Liberal,Pierre Trudeau
4,May-76,17008.1,May-76,9726.1,720.0,10446.1,Liberal,Pierre Trudeau
...,...,...,...,...,...,...,...,...
536,Sep-20,31114.6,Sep-20,18388.5,1858.2,20246.7,Liberal,Justin Trudeau
537,Oct-20,31138.8,Oct-20,18482.9,1833.2,20316.1,Liberal,Justin Trudeau
538,Nov-20,31161.3,Nov-20,18537.5,1742.5,20280.0,Liberal,Justin Trudeau
539,Dec-20,31177.5,Dec-20,18484.8,1773.9,20258.7,Liberal,Justin Trudeau
540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
dfm.shape[0]

541

In [27]:
dfm['PrimeMinister'].unique()

array(['Pierre Trudeau', 'Transfer', 'Joe Clark', 'John Turner',
       'Brian Mulroney', 'Kim Campbell', 'Jean Chretien', 'Paul Martin',
       'Stephen Harper', 'Justin Trudeau', nan], dtype=object)

In [28]:
dfm['PrimeMinister'].value_counts()

PrimeMinister
Jean Chretien     120
Stephen Harper    116
Brian Mulroney    104
Pierre Trudeau     91
Justin Trudeau     61
Paul Martin        25
Transfer            9
Joe Clark           8
Kim Campbell        4
John Turner         2
Name: count, dtype: int64

In [31]:
pd.options.display.max_rows=200

In [33]:
Pierre_Trudeau=dfm[dfm['PrimeMinister']=='Pierre Trudeau']  
Pierre_Trudeau

,MonthYr,Population,MonthYr.1,Employed,Unemployed,LabourForce,Party,PrimeMinister
0,Jan-76,16852.4,Jan-76,9636.7,733.0,10369.7,Liberal,Pierre Trudeau
1,Feb-76,16892.0,Feb-76,9659.8,730.0,10389.8,Liberal,Pierre Trudeau
2,Mar-76,16930.7,Mar-76,9704.2,691.5,10395.7,Liberal,Pierre Trudeau
3,Apr-76,16969.4,Apr-76,9738.2,713.1,10451.3,Liberal,Pierre Trudeau
4,May-76,17008.1,May-76,9726.1,720.0,10446.1,Liberal,Pierre Trudeau
5,Jun-76,17046.8,Jun-76,9748.3,721.3,10469.6,Liberal,Pierre Trudeau
6,Jul-76,17085.5,Jul-76,9759.5,779.9,10539.4,Liberal,Pierre Trudeau
7,Aug-76,17124.4,Aug-76,9780.5,743.6,10524.1,Liberal,Pierre Trudeau
8,Sep-76,17154.4,Sep-76,9795.2,736.7,10531.9,Liberal,Pierre Trudeau
9,Oct-76,17183.4,Oct-76,9782.5,782.6,10565.1,Liberal,Pierre Trudeau
10,Nov-76,17211.4,Nov-76,9829.0,780.5,10609.5,Liberal,Pierre Trudeau
11,Dec-76,17238.1,Dec-76,9862.6,794.8,10657.4,Liberal,Pierre Trudeau
12,Jan-77,17270.6,Jan-77,9869.3,811.8,10681.1,Liberal,Pierre Trudeau
13,Feb-77,17302.4,Feb-77,9874.2,842.0,10716.2,Liberal,Pierre Trudeau
14,Mar-77,17329.1,Mar-77,9865.7,836.0,10701.7,Liberal,Pierre Trudeau
15,Apr-77,17358.7,Apr-77,9892.6,849.0,10741.6,Liberal,Pierre Trudeau
16,May-77,17394.1,May-77,9912.0,837.8,10749.8,Liberal,Pierre Trudeau
17,Jun-77,17421.5,Jun-77,9906.9,842.0,10748.9,Liberal,Pierre Trudeau
18,Jul-77,17449.4,Jul-77,9911.4,872.9,10784.3,Liberal,Pierre Trudeau
19,Aug-77,17485.1,Aug-77,9936.6,882.8,10819.4,Liberal,Pierre Trudeau
20,Sep-77,17513.7,Sep-77,9937.0,902.0,10839.0,Liberal,Pierre Trudeau
21,Oct-77,17540.6,Oct-77,9962.1,913.4,10875.5,Liberal,Pierre Trudeau
22,Nov-77,17567.5,Nov-77,9976.3,925.4,10901.7,Liberal,Pierre Trudeau
23,Dec-77,17592.8,Dec-77,10002.3,926.6,10928.9,Liberal,Pierre Trudeau
24,Jan-78,17623.5,Jan-78,10013.0,905.1,10918.1,Liberal,Pierre Trudeau
25,Feb-78,17653.9,Feb-78,10067.5,913.8,10981.3,Liberal,Pierre Trudeau
26,Mar-78,17679.3,Mar-78,10100.3,941.2,11041.5,Liberal,Pierre Trudeau
27,Apr-78,17706.9,Apr-78,10128.7,931.6,11060.3,Liberal,Pierre Trudeau
28,May-78,17741.6,May-78,10146.7,953.9,11100.6,Liberal,Pierre Trudeau
29,Jun-78,17767.5,Jun-78,10207.6,938.5,11146.1,Liberal,Pierre Trudeau
30,Jul-78,17792.0,Jul-78,10255.0,933.4,11188.4,Liberal,Pierre Trudeau
31,Aug-78,17824.4,Aug-78,10287.5,948.0,11235.5,Liberal,Pierre Trudeau
32,Sep-78,17850.7,Sep-78,10305.5,947.2,11252.7,Liberal,Pierre Trudeau
33,Oct-78,17876.8,Oct-78,10368.8,924.8,11293.6,Liberal,Pierre Trudeau
34,Nov-78,17902.4,Nov-78,10387.2,945.7,11332.9,Liberal,Pierre Trudeau
35,Dec-78,17927.3,Dec-78,10428.3,937.8,11366.1,Liberal,Pierre Trudeau
36,Jan-79,17958.4,Jan-79,10483.1,938.2,11421.3,Liberal,Pierre Trudeau
37,Feb-79,17989.1,Feb-79,10490.0,917.3,11407.3,Liberal,Pierre Trudeau
38,Mar-79,18014.3,Mar-79,10535.9,904.9,11440.8,Liberal,Pierre Trudeau
39,Apr-79,18047.3,Apr-79,10560.8,914.1,11474.9,Liberal,Pierre Trudeau
40,May-79,18073.7,May-79,10611.4,871.8,11483.2,Liberal,Pierre Trudeau
51,Apr-80,18407.7,Apr-80,10938.3,908.3,11846.6,Liberal,Pierre Trudeau
52,May-80,18437.0,May-80,10891.6,923.9,11815.5,Liberal,Pierre Trudeau
53,Jun-80,18474.1,Jun-80,10936.8,918.3,11855.1,Liberal,Pierre Trudeau
54,Jul-80,18501.1,Jul-80,10935.0,905.6,11840.6,Liberal,Pierre Trudeau
55,Aug-80,18529.0,Aug-80,10970.3,907.9,11878.2,Liberal,Pierre Trudeau
56,Sep-80,18564.0,Sep-80,11051.9,876.2,11928.1,Liberal,Pierre Trudeau
57,Oct-80,18591.5,Oct-80,11083.1,873.1,11956.2,Liberal,Pierre Trudeau
58,Nov-80,18617.4,Nov-80,11127.0,857.7,11984.7,Liberal,Pierre Trudeau
59,Dec-80,18642.6,Dec-80,11140.0,874.1,12014.1,Liberal,Pierre Trudeau
60,Jan-81,18671.8,Jan-81,11206.5,892.3,12098.8,Liberal,Pierre Trudeau
61,Feb-81,18700.6,Feb-81,11283.3,899.8,12183.1,Liberal,Pierre Trudeau
62,Mar-81,18725.0,Mar-81,11278.7,902.4,12181.1,Liberal,Pierre Trudeau
63,Apr-81,18749.9,Apr-81,11315.8,868.3,12184.1,Liberal,Pierre Trudeau
64,May-81,18775.2,May-81,11345.8,877.2,12223.0,Liberal,Pierre Trudeau
65,Jun-81,18806.1,Jun-81,11375.6,887.9,12263.5,Liberal,Pierre Trudeau
66,Jul-81,18829.0,Jul-81,11336.4,879.4,12215.8,Liberal,Pierre Trudeau
67,Aug-81,18852.5,Aug-81,11353.8,861.2,12215.0,Liberal,Pierre Trudeau
68,Sep-81,18880.8,Sep-81,11328.7,1003.9,12332.6,Liberal,Pierre Trudeau
69,Oct-81,18904.4,Oct-81,11300.1,1020.4,12320.5,Liberal,Pierre Trudeau
70,Nov-81,18927.1,Nov-81,11291.5,1019.5,12311.0,Liberal,Pierre Trudeau
71,Dec-81,18949.7,Dec-81,11236.0,1071.7,12307.7,Liberal,Pierre Trudeau
72,Jan-82,18976.3,Jan-82,11205.6,1059.7,12265.3,Liberal,Pierre Trudeau
73,Feb-82,19001.7,Feb-82,11166.9,1092.8,12259.7,Liberal,Pierre Trudeau
74,Mar-82,19023.7,Mar-82,11140.5,1139.7,12280.2,Liberal,Pierre Trudeau
75,Apr-82,19045.6,Apr-82,11076.3,1204.8,12281.1,Liberal,Pierre Trudeau
76,May-82,19068.3,May-82,11021.9,1271.4,12293.3,Liberal,Pierre Trudeau
77,Jun-82,19096.2,Jun-82,10940.6,1364.3,12304.9,Liberal,Pierre Trudeau
78,Jul-82,19115.7,Jul-82,10893.6,1465.2,12358.8,Liberal,Pierre Trudeau
79,Aug-82,19142.0,Aug-82,10836.3,1478.1,12314.4,Liberal,Pierre Trudeau
80,Sep-82,19162.5,Sep-82,10806.7,1527.0,12333.7,Liberal,Pierre Trudeau
81,Oct-82,19183.2,Oct-82,10787.2,1602.1,12389.3,Liberal,Pierre Trudeau
82,Nov-82,19203.3,Nov-82,10764.1,1600.4,12364.5,Liberal,Pierre Trudeau
83,Dec-82,19222.6,Dec-82,10774.1,1624.4,12398.5,Liberal,Pierre Trudeau
84,Jan-83,19244.2,Jan-83,10801.1,1572.9,12374.0,Liberal,Pierre Trudeau
85,Feb-83,19266.5,Feb-83,10818.2,1573.6,12391.8,Liberal,Pierre Trudeau
86,Mar-83,19285.1,Mar-83,10874.9,1554.7,12429.6,Liberal,Pierre Trudeau
87,Apr-83,19304.2,Apr-83,10932.6,1553.7,12486.3,Liberal,Pierre Trudeau
88,May-83,19328.1,May-83,10952.5,1556.5,12509.0,Liberal,Pierre Trudeau
89,Jun-83,19346.5,Jun-83,11021.4,1557.3,12578.7,Liberal,Pierre Trudeau
90,Jul-83,19363.3,Jul-83,11073.4,1492.9,12566.3,Liberal,Pierre Trudeau
91,Aug-83,19386.4,Aug-83,11126.6,1472.8,12599.4,Liberal,Pierre Trudeau
92,Sep-83,19405.3,Sep-83,11174.2,1432.0,12606.2,Liberal,Pierre Trudeau
93,Oct-83,19424.2,Oct-83,11163.3,1419.2,12582.5,Liberal,Pierre Trudeau
94,Nov-83,19443.7,Nov-83,11162.0,1415.9,12577.9,Liberal,Pierre Trudeau
95,Dec-83,19462.2,Dec-83,11187.4,1429.1,12616.5,Liberal,Pierre Trudeau
96,Jan-84,19483.7,Jan-84,11168.6,1423.3,12591.9,Liberal,Pierre Trudeau
97,Feb-84,19506.2,Feb-84,11203.9,1425.4,12629.3,Liberal,Pierre Trudeau
98,Mar-84,19524.2,Mar-84,11205.9,1424.7,12630.6,Liberal,Pierre Trudeau
99,Apr-84,19546.8,Apr-84,11198.5,1456.0,12654.5,Liberal,Pierre Trudeau
100,May-84,19566.7,May-84,11245.5,1494.0,12739.5,Liberal,Pierre Trudeau

In [35]:
Pierre_Trudeau.sort_values(by='Population',ascending=False).head(1)

,MonthYr,Population,MonthYr.1,Employed,Unemployed,LabourForce,Party,PrimeMinister
100,May-84,19566.7,May-84,11245.5,1494.0,12739.5,Liberal,Pierre Trudeau

In [40]:
(Pierre_Trudeau['Population'].head(1),
Pierre_Trudeau['Population'].tail(1))

(0    16852.4
 Name: Population, dtype: float64,
 100    19566.7
 Name: Population, dtype: float64)

In [44]:
dfm=dfm.drop(columns='MonthYr.1') 
dfm

,MonthYr,Population,Employed,Unemployed,LabourForce,Party,PrimeMinister
0,Jan-76,16852.4,9636.7,733.0,10369.7,Liberal,Pierre Trudeau
1,Feb-76,16892.0,9659.8,730.0,10389.8,Liberal,Pierre Trudeau
2,Mar-76,16930.7,9704.2,691.5,10395.7,Liberal,Pierre Trudeau
3,Apr-76,16969.4,9738.2,713.1,10451.3,Liberal,Pierre Trudeau
4,May-76,17008.1,9726.1,720.0,10446.1,Liberal,Pierre Trudeau
...,...,...,...,...,...,...,...
536,Sep-20,31114.6,18388.5,1858.2,20246.7,Liberal,Justin Trudeau
537,Oct-20,31138.8,18482.9,1833.2,20316.1,Liberal,Justin Trudeau
538,Nov-20,31161.3,18537.5,1742.5,20280.0,Liberal,Justin Trudeau
539,Dec-20,31177.5,18484.8,1773.9,20258.7,Liberal,Justin Trudeau
540,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
dfm['MonthYr'].str.split('-',expand=True)

       0    1
0    Jan   76
1    Feb   76
2    Mar   76
3    Apr   76
4    May   76
..   ...  ...
536  Sep   20
537  Oct   20
538  Nov   20
539  Dec   20
540  NaN  NaN

[541 rows x 2 columns]

In [49]:
dfm[['Month_Name','Year']]=dfm['MonthYr'].str.split('-',expand=True)

In [50]:
dfm.columns

,MonthYr,Population,Employed,Unemployed,LabourForce,Party,PrimeMinister,Month_Name,Year
0,Jan-76,16852.4,9636.7,733.0,10369.7,Liberal,Pierre Trudeau,Jan,76
1,Feb-76,16892.0,9659.8,730.0,10389.8,Liberal,Pierre Trudeau,Feb,76
2,Mar-76,16930.7,9704.2,691.5,10395.7,Liberal,Pierre Trudeau,Mar,76
3,Apr-76,16969.4,9738.2,713.1,10451.3,Liberal,Pierre Trudeau,Apr,76
4,May-76,17008.1,9726.1,720.0,10446.1,Liberal,Pierre Trudeau,May,76
...,...,...,...,...,...,...,...,...,...
536,Sep-20,31114.6,18388.5,1858.2,20246.7,Liberal,Justin Trudeau,Sep,20
537,Oct-20,31138.8,18482.9,1833.2,20316.1,Liberal,Justin Trudeau,Oct,20
538,Nov-20,31161.3,18537.5,1742.5,20280.0,Liberal,Justin Trudeau,Nov,20
539,Dec-20,31177.5,18484.8,1773.9,20258.7,Liberal,Justin Trudeau,Dec,20
540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN