In [6]:
def removet(li):
    li=[ num for num in li if num]
    
li=[ (), ('Studytonight', '1', '2'), (), ('3', '4', '5', '6') ]

In [8]:
num_list =[2,3,4,-5,-7,45,-66,5,6]
for i in num_list:
    if i>0:
        print(i,end=" ")

2 3 4 45 5 6

In [9]:
num_list =[2,3,4,-5,-7,45,-66,5,6]
pos_list=[i for i in num_list if i>0]
print(pos_list)

[2, 3, 4, 45, 5, 6]

In [14]:
n = int(input()) # Read the number of inputs
num_list = []
for i in range(n):
	element =int(input())
	num_list.append(element)
 
for i in num_list:
    if i>0:
        print(i,end=" ")

1 1

In [15]:
if __name__ == "__main__":
	n = int(input()) # Read the number of inputs
	num_list = []
for i in range(n):
	element =int(input())
	num_list.append(element)

for i in num_list:
	if i>0:
		print(i,end=" ")

1 1

In [1]:
str="shouvik de 6088 JGEC IT"
str2=str.split()
str2=reversed(str2)
for i in str2:
    print(i,end=" ")

IT JGEC 6088 de shouvik

In [20]:
str2

['shouvik', 'de', '6088', 'JGEC']

In [25]:
str3=reversed(str2)
for i in str3:
    print(i,end=" ")

JGEC 6088 de shouvik

In [3]:
lst=[5,8,9,6,11,24,5,8,8,9,5,4,6,11,24,8,4]
lst=set(lst)

In [4]:
for i in lst:
    print(i)

4
5
6
8
9
11
24

In [12]:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort()

In [13]:
for i in cars:
    print(i)

BMW
Ford
Volvo

In [21]:
test_str = "sasasasasaaaasss"
vow="aeiouAEIOU"
for i in test_str:
    if i in vow:
        test_str=test_str.replace(i,"*")
print(test_str)

s*s*s*s*s****sss

In [22]:
res=test_str.split('*')
for i in res:
    print(i)

s
s
s
s
s



sss

In [30]:
s = "This is a python language"
lst=s.split()
final=[]
for i in lst:
    lenn=len(i)
    if lenn%2==0:
        final.append(i)
s=""
for i in final:
    s=s+i+" "
print(s)

This is python language

In [31]:
x=22

In [32]:
x//=3
print(x)

7

In [33]:
x%=4
print(x)

3

In [2]:
list1 = [10, 11, 12, 13, 14] 
list2 = [20, 30, 42] 

res = [*list1, *list2] 
  
print ("Concatenated list:\n " + str(res))

Concatenated list:
 [10, 11, 12, 13, 14, 20, 30, 42]

[(5,3,1),(5,3,0),(4,3,5),(5,1,4)]

In [3]:
lst=[(5,3,1),(5,3,0),(4,3,5),(5,1,4)]

In [4]:
lst

[(5, 3, 1), (5, 3, 0), (4, 3, 5), (5, 1, 4)]

In [5]:
# Python program to sort a list of tuples by the second Item

# Function to sort the list of tuples by its second item


def Sort_Tuple(tup):

	# getting length of list of tuples
	lst = len(tup)
	for i in range(0, lst):

		for j in range(0, lst-i-1):
			if (tup[j][1] > tup[j + 1][1]):
				temp = tup[j]
				tup[j] = tup[j + 1]
				tup[j + 1] = temp
	return tup


# Driver Code
tup = [('for', 24), ('is', 10), ('Geeks', 28),
	('Geeksforgeeks', 5), ('portal', 20), ('a', 15)]

print(Sort_Tuple(tup))

[('Geeksforgeeks', 5), ('is', 10), ('a', 15), ('portal', 20), ('for', 24), ('Geeks', 28)]

In [7]:
# Python program to sort a list of
# tuples by the second Item using sort() 

# Function to sort the list by second item of tuple
def Sort_Tuple(tup): 

	# reverse = None (Sorts in Ascending order) 
	# key is set to sort using second element of 
	# sublist lambda has been used 
	tup.sort(key = lambda x: x[1]) 
	return tup 

# Driver Code 
tup = [(5,3,1),(5,3,0),(4,3,5),(5,1,4)]

# printing the sorted list of tuples
print(Sort_Tuple(tup))

[(5, 1, 4), (5, 3, 1), (5, 3, 0), (4, 3, 5)]

In [8]:
lst=[(5,-1,1),(5,3,0),(4,2,5),(5,1,4)]

In [12]:
lst.sort(key=lambda x:x[1])

In [13]:
lst

[(5, -1, 1), (5, 1, 4), (4, 2, 5), (5, 3, 0)]